body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: relative;
}

header input[type="text"] {
  padding: 8px;
  width: calc(100% - 20px);
  margin: 5px auto;
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

main {
  padding: 10px;
  background-color: #31D7ED;
}

.asset-item {
  background-color: #101A23;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.asset-item .asset-text {
  flex: 1;
  padding-right: 10px;
}

.asset-item .asset-image {
  max-width: 200px;
  height: auto;
  margin-left: 0;
}

.asset-item h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.asset-item p {
  font-weight: normal;
}

.view-details, .download-button {
  display: inline-block;
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.view-details:hover, .download-button:hover {
  background-color: #0056b3;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#asset-image {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
}

.asset-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.asset-additional-info {
  position: relative;
  margin-top: 10px;
  text-align: center;
}

.asset-additional-info p {
  margin: 5px 0;
}

#asset-description {
  font-weight: bold;
}

/* Медиа-запросы для адаптации под мобильные устройства */
@media (max-width: 768px) {
  .asset-item {
    flex-direction: column;
    align-items: center;
  }

  .main-page-assets .asset-item .asset-image {
    max-width: 150px;
    height: 100px;
    object-fit: cover;
  }

  .asset-details-container img {
    max-width: 300px;
    height: 200px;
    object-fit: cover;
  }
}
