body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px; /* уменьшен padding */
  text-align: center;
}

header input[type="text"] {
  padding: 8px;
  width: calc(100% - 20px);
  margin: 5px auto;
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Добавлено для корректного учёта padding */
}


main {
  padding: 10px;
}

.asset-item {
  display: flex;
  flex-direction: column; /* Вертикальное расположение на мобильных */
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.asset-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.asset-text {
  text-align: center; /* центрируем текст */
}

.asset-text h2 {
  margin-top: 0;
}


.view-details, .download-button {
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 5px 0;
  width: 100%; /* Занимаем всю ширину на маленьких экранах */
  box-sizing: border-box;
}

.view-details:hover, .download-button:hover {
  background-color: #0056b3;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Стили для больших экранов */
@media (min-width: 768px) {
  .asset-item {
    flex-direction: row; /* Горизонтальное расположение */
    align-items: center;
    padding: 15px;
  }
  .asset-text {
    text-align: left; /* текст слева */
    margin-left: 20px;
  }
  .asset-item img {
    max-width: 300px;
    height: auto;
  }
  .view-details, .download-button {
    width: auto; /* Автоматическая ширина */
    margin: 0 5px;
  }
}

/*  Стили для страницы asset-page.html */
.asset-details-container {
  display: flex;
  flex-direction: column; /* Вертикальное расположение на мобильных */
  align-items: center;
}

@media (min-width: 768px) {
  .asset-details-container {
    flex-direction: row;
    align-items: flex-start; /* Выравнивание по верху */
  }
  .asset-additional-info {
    margin-left: 20px; /* Отступ от изображения */
  }
}

#asset-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.asset-additional-info {
    text-align:center;
}

.asset-additional-info p{
    margin: 5px 0;
}

